.hero {
   background-image: url('../images/thunderstorm.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.card-container{
   background-color: aqua;
   width: 50 rem;
   height: 50 rem;
}

.index-aside{
   margin-left: auto;
}